body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: rgb(188, 248, 248);
    font-size: x-large;
}
.container {
    border: 1px solid rgb(108, 108, 110);
    padding: 1rem;
    width: 70%;
    margin: auto;
    background-color: rgb(27, 27, 78);

}
header {
    display: flex;
    background-color: rgb(182, 183, 248);
    color: rgb(20, 21, 66);
    padding: 1rem .2rem;
    justify-content: space-around;
    text-align: center; 
}
header h1{
    margin: 0;
    font-size: 24px;
    justify-content: left;
}
header span {
    font-size: 18px;
    justify-content: right;
}
.header-img {
    height: 30px;
}